[Unit]
Description=API PLN Flask con Gunicorn
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/laboratorio-pln-spacy-aws
Environment="PATH=/home/ubuntu/laboratorio-pln-spacy-aws/venv/bin"
ExecStart=/home/ubuntu/laboratorio-pln-spacy-aws/venv/bin/gunicorn -w 2 -b 0.0.0.0:8080 common.app:app
Restart=always

[Install]
WantedBy=multi-user.target

